<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AUTO PITCH GENERATOR</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <div class="box">
    <div>
      <p class="datetime" id="datetime"></p>
      <a href="../home.html" class="GFG">Click Here To Go Back To Survey</a>
    </div>
    <img src="../img/profile_pic1.jpg" alt="" class="box-img1">
    <img src="../img/profile_pic2.jpg" alt="" class="box-img2">
    <h1><h1 class="text" id="text"></h1>
</div>

<script src="../js/scripts.js"></script>


</body>
</html>